/* abetContainer */
.blance-info-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.balance-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hg-text-primary);
  width: 100%;
  /* height: 20px; */
}

/* amountsection */
.action-pet-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.25rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.action-pet {
  display: flex;
  color: var(--hg-text-primary);
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.progress-bar-container {
  max-width: calc(75% - 1rem);
}

.progress-bar {
  background: var(--hg-bg-primary);
  border-radius: 1rem;
  box-shadow: inset 0 -2px 4px rgba(92, 92, 92, 0.5);
  height: 4px;
  margin: 0 auto;
  outline: solid 0.25px var(--hg-border-color);
  overflow: hidden;
  width: 100%;
  margin: 7px 0;
}
.bet-progressbar {
  background: var(--hg-bg-accent);
  display: block;
  height: 100%;
}
.select-bet-container {
  display: flex;
  /* gap: 2rem; */
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn-incress-decress button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--hg-btn-disabled-color);
}
.btn-incress-decress button:hover {
  /* border: 2px solid green; */
  transform: translateY(1px);
}
.btn-incress-decress:active {
  transform: translateY(1px);
}
.btn-decressincress img {
  width: 20px;
}
/* navbar */
.main-navbar-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.4em;
  border-radius: 4px;
}
.main-navbar {
  align-items: center;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}
.MainNavbar__list {
  align-items: stretch;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
  color: var(--hg-text-primary);
}
.MainNavbar__item {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.MainNavbar__item img {
  width: 20px;
}
.sound-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.border-icon {
  display: inline-block;
  padding: 3px 5px 0px 4px;
  border: 2px solid #4ace4a;
  border-radius: 50%;
  position: relative;
  color: #4ace4a;
  transition: all 0.3s ease;
}

.border-icon.active {
  border-color: #fff; /* Change border color to white */
  color: #fff; /* Change icon color to white */
}

.icons-all {
  transition: all 0.3s ease;
  font-size: 14px;
}

.icons-all.active {
  color: #fff; /* Change icon color to white */
}

.sound-text {
  margin-top: 6px;
  font-size: 7px;
  font-weight: 600;
  color: var(--hg-text-primary);
}

.btn-decressincress img {
  width: 18px;
  height: 14px;
  transition: transform 0.3s ease;
}

.btn-decressincress img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px rgba(0, 255, 0, 0.6));
  background: none;
  display: inline-block;
}
.add-liner {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.add-liner img {
  width: 70px;
}
.slider-wrapper {
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 1rem;
}
.add-section {
  display: flex;
  justify-content: center;
  text-align: center;
}
.lines-container {
  height: 70%;
  display: flex;
  justify-content: center;
  /* color: var(--hg-text-primary); */
  /* font-size: 5rem;
  font-weight: 800; */
}
.plus-section {
  height: 80%;
  display: flex;
  align-items: end;
  cursor: pointer;
  /* margin-top: 20rem; */
  /* background-color: red; */
}
.plus-section h1 {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.c-default {
  cursor: default;
}
.plus-section img {
  height: 60px;
  margin-top: 0.3rem;
}
.disabled-slider-thumb {
  pointer-events: none;
  filter: grayscale(100%);
  opacity: 0.5;
}

.bet-icon {
  width: 50px;
  height: 40px;
}
.white-border {
  border: 0.4rem solid #fff;
  border-radius: 0.5rem;
}
.black-border {
  border: 0.2rem solid black;
  position: relative;
  border-radius: 3px;
}

.white-bg {
  position: absolute;
  top: -4px;
  background: #fff;
  height: 20px;
}
.min-progress-max {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.white-value-no {
  position: absolute;
  top: 5px;
  transform: translateY(-50%);
  font-weight: 800;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 18px;
  transition: left 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.cross-first,
.cross-second {
  position: absolute;
  top: -80px;
  left: -40px;
  cursor: pointer;
  height: 40px;
}
.min-progress-max button {
  font-size: 12px;
  font-weight: 600;
  width: 50px;
  color: #000;
  border: none;
  padding: 4px;
  border-radius: 5px;
}
/* .cross-second {
  position: absolute;
  top: -80px;
  left: -40px;
  cursor: pointer;
  height: 40px;
} */
/* resposive UI */

@media (max-width: 768px) {
  .blance-info-container {
    margin: 0;

    margin-top: 0.2rem;
  }

  .action-pet-container {
    background: var(--hg-bg-user-panel);
    margin: 0;
    /* / padding: 12px; / */
    border-radius: 0.25rem;
    margin-top: 0.2rem;
  }
  .select-bet-container {
    gap: 20px;
  }
  .main-navbar-container {
    background: var(--hg-bg-user-panel);
    margin: 0;
    /* / padding: 0.4em; / */
    border-radius: 4px;
    margin-top: 0.2rem;
  }
  .lines-container {
    height: 35%;
  }
  .current-value-progress {
    margin: 10px 0;
  }
  .slider-wrapper {
    width: 90%;
    margin-top: 6px;
  }
  .cross-first,
  .cross-second {
    top: -54px;
    left: -20px;
    height: 27px;
  }
  .action-pet-container {
    padding: 0.3rem;
  }
}
/* @media (max-width: 376px) {
  .add-section img {
    height: 50px;
    width: 50px;
  }
  .plus-section img {
    margin: 0%;
  }
  .plus-section h1 {
    font-size: 10px;
  }
  .cross-first,
  .cross-second {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -65px;
    left: -12px;
    cursor: pointer;
  }
} */
