/* abetContainer */
.blance-info-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.balance-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hg-text-primary);
  width: 100%;
  /* height: 20px; */
}

/* amountsection */
.action-pet-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.25rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.action-pet {
  display: flex;
  color: var(--hg-text-primary);
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.progress-bar-container {
  max-width: calc(75% - 1rem);
}

.progress-bar {
  background: var(--hg-bg-primary);
  border-radius: 1rem;
  box-shadow: inset 0 -2px 4px rgba(92, 92, 92, 0.5);
  height: 4px;
  margin: 0 auto;
  outline: solid 0.25px var(--hg-border-color);
  overflow: hidden;
  width: 100%;
  margin: 7px 0;
}
.bet-progressbar {
  background: var(--hg-bg-accent);
  display: block;
  height: 100%;
}
.select-bet-container {
  display: flex;
  /* gap: 2rem; */
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.btn-incress-decress button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--hg-btn-disabled-color);
}
.btn-incress-decress button:hover {
  /* border: 2px solid green; */
  transform: translateY(1px);
}
.btn-incress-decress:active {
  transform: translateY(1px);
}
.btn-decressincress img {
  width: 20px;
}
/* navbar */
.main-navbar-container {
  background: var(--hg-bg-user-panel);
  margin: 0.5em;
  padding: 0.4em;
  border-radius: 4px;
}
.main-navbar {
  align-items: center;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}
.MainNavbar__list {
  align-items: stretch;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
  color: var(--hg-text-primary);
}
.MainNavbar__item {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.MainNavbar__item img {
  width: 20px;
}
.sound-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.border-icon {
  display: inline-block;
  padding: 3px 5px 0px 4px;
  border: 2px solid #4ace4a;
  border-radius: 50%;
  position: relative;
  color: #4ace4a;
  transition: all 0.3s ease;
}

.border-icon.active {
  border-color: #fff; /* Change border color to white */
  color: #fff; /* Change icon color to white */
}

.icons-all {
  transition: all 0.3s ease;
  font-size: 14px;
}

.icons-all.active {
  color: #fff; /* Change icon color to white */
}

.sound-text {
  margin-top: 6px;
  font-size: 7px;
  font-weight: 600;
  color: var(--hg-text-primary);
}

.btn-decressincress img {
  width: 18px;
  height: 14px;
  transition: transform 0.3s ease;
}

.btn-decressincress img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px rgba(0, 255, 0, 0.6));
  background: none;
  display: inline-block;
}
.add-liner {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.add-liner img {
  width: 70px;
}
.slider-wrapper {
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 1rem;
}
.add-section {
  display: flex;
  justify-content: center;
  text-align: center;
}
.lines-container {
  height: 70%;
  display: flex;
  justify-content: center;
  /* color: var(--hg-text-primary); */
  /* font-size: 5rem;
  font-weight: 800; */
}
.plus-section {
  height: 80%;
  display: flex;
  align-items: end;
  cursor: pointer;
  /* margin-top: 20rem; */
  /* background-color: red; */
}
.plus-section h1 {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.c-default {
  cursor: default;
}
.plus-section img {
  height: 60px;
  margin-top: 0.3rem;
}
.disabled-slider-thumb {
  pointer-events: none;
  filter: grayscale(100%);
  opacity: 0.5;
}

.bet-icon {
  width: 50px;
  height: 40px;
}
.white-border {
  border: 0.4rem solid #fff;
  border-radius: 0.5rem;
}
.black-border {
  border: 0.2rem solid black;
  position: relative;
  border-radius: 3px;
}

.white-bg {
  position: absolute;
  top: -4px;
  background: #fff;
  height: 20px;
}
.min-progress-max {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.white-value-no {
  position: absolute;
  top: 5px;
  transform: translateY(-50%);
  font-weight: 800;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 18px;
  transition: left 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.cross-first,
.cross-second {
  position: absolute;
  top: -80px;
  left: -40px;
  cursor: pointer;
  height: 40px;
}
.min-progress-max button {
  font-size: 12px;
  font-weight: 600;
  width: 50px;
  color: #000;
  border: none;
  padding: 4px;
  border-radius: 5px;
}
.modal-overlay-bet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-bet {
  background-color: #212226;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 850px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  animation: fadeIn 0.3s ease-in-out;
  top: 20px;
}

.history-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.betsTable tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1); /* Light background for odd rows */
}

.betsTable tbody tr:nth-child(even) {
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* Slightly different for even rows */
}

.close-btn {
  margin-bottom: 5px;
  padding: 8px 16px;
  box-shadow: inset 1px 1px #fff1cd33;
  background-color: #373e48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.close-btn:active {
  transform: translateY(1px);
}

.table-head {
  background-color: rgba(255, 255, 255, 0.1);

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;

  cursor: default;
}
.table-wrapper {
  width: 100%;
  max-width: 100%;
}

.table-container {
  max-height: 500px; /* Adjust height as needed */
  overflow-y: auto;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}

.betsTable {
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  position: sticky;
  top: 0;
  background-color: #222; /* Ensure background is set to avoid overlap */
  z-index: 10;
}

th {
  color: rgb(128, 128, 128);
  background: #333;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-wrapper {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #212226;
}

thead {
  background-color: #f8f9fa;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
  white-space: nowrap;
}

th {
  font-weight: 600;
}

.load-more-btn {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
  color: #ffff;
  box-shadow: inset 1px 1px #fff1cd33;
  background-color: #373e48;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.load-more-btn:hover {
  /* background: linear-gradient(45deg, #ff5500, #ff7b00); */
  transform: scale(1.05);
}

.load-more-btn:disabled {
  background: #555;
  cursor: not-allowed;
}
.menu-icon {
  display: flex;
  justify-content: end;
}
.game-header-btton-inner {
  align-items: center;
  display: flex;
  height: 1.75rem;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  width: 1.75rem;
}

.game-header-btton-inner:active {
  transform: translateY(1px);
}
.game-header-button {
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  text-align: end;
  color: white;
}
.setting-modal {
  position: absolute;
  right: 0;

  z-index: 20;
}
.setting-back-light {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  /* height: -webkit-max-content;
  height: -moz-max-content; */
  /* height: max-content; */
  margin: 0 auto;
  padding: 1.5rem 1.5rem 0;
  width: 14.4rem;
}
.setting-light {
  display: block;
  max-height: 100%;
  overflow-y: auto;
  position: static !important;
  transform: none;
  z-index: 12;
}
.setting-inner {
  position: relative;
  height: 100%;
}
.setting-title {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
}
.close-icon-s {
  color: #979797;
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  /* bottom: 4.2rem; */
  cursor: pointer;
}
.user-name {
  background: linear-gradient(
    312.27deg,
    rgba(0, 0, 0, 0.125) 0.02%,
    rgba(0, 0, 0, 0.375) 100.02%
  );
  border-radius: 0.375rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25);
  height: 3rem;
  margin-bottom: 1.5rem;
  padding: 0.0625rem;
}

.user-name-inner {
  background: transparent;
  border-radius: 0.375rem;
  box-shadow: none;
  height: 100%;
  position: relative;
}

.name-u {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.625rem;
  left: 8px;
  position: absolute;
  top: 0.5rem;
}

.user-name-text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 700;
}
.setting-link {
  background: hsla(0, 0%, 100%, 0.1);
  border: 0.0625rem solid hsla(0, 0%, 100%, 0.35);
  border-radius: 0.375rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
  margin-bottom: 0.375rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.25rem;
  padding: 0.75rem;
  position: relative;
}
.setting-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.875rem;
  height: 1rem;
  position: relative;
  width: 1rem;
}
.setting-name {
  color: #fff;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
}
.overlay-1 {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  /* display: none; */
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  overflow-y: auto;
}
.betsTable tbody tr:hover {
  background-color: #0003;
}

.modal-new {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  /* margin-bottom: 8rem; */
  padding: 1rem;
  /* padding: 1.5rem 1.5rem 0; */
  width: 25rem;
  animation: modal-new 0.5s ease-out forwards;
  position: absolute;
  top: 4rem;
}
.modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-head-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.limit-head {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.5;
}

.close {
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
}
.close:hover {
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.limit-block {
  background: linear-gradient(
    312.27deg,
    rgba(0, 0, 0, 0.125) 0.02%,
    rgba(0, 0, 0, 0.375) 100.02%
  );
  border-radius: 0.375rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25);
  height: 3rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.gamelimits-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;

  /* padding-bottom: 100px; */
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.gamelimits-overlay.overlay-open {
  opacity: 1;
  pointer-events: auto;
}

.gamelimits-modal.modal-show {
  top: 0;
  animation: slideDown 0.5s ease forwards;
}

.gamelimits-modal.modal-close {
  top: 0;
  animation: slideUp 0.6s ease forwards;
}
.value-para {
  color: #ffffff80;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}
.value {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
}

/* .cross-second {
  position: absolute;
  top: -80px;
  left: -40px;
  cursor: pointer;
  height: 40px;
} */
/* resposive UI */

@media (max-width: 768px) {
  .blance-info-container {
    margin: 0;

    margin-top: 0.2rem;
  }

  .action-pet-container {
    background: var(--hg-bg-user-panel);
    margin: 0;
    /* / padding: 12px; / */
    border-radius: 0.25rem;
    margin-top: 0.2rem;
  }
  .select-bet-container {
    gap: 20px;
  }
  .main-navbar-container {
    background: var(--hg-bg-user-panel);
    margin: 0;
    /* / padding: 0.4em; / */
    border-radius: 4px;
    margin-top: 0.2rem;
  }
  .lines-container {
    height: 35%;
  }
  .current-value-progress {
    margin: 10px 0;
  }
  .slider-wrapper {
    width: 90%;
    margin-top: -25px;
  }
  .cross-first,
  .cross-second {
    top: -54px;
    left: -20px;
    height: 27px;
  }
  .action-pet-container {
    padding: 0.3rem;
  }
  .menu-icon {
    margin-right: 8px;
  }
  .modal-overlay-bet {
    top: -66px;
  }
  th,
  td {
    padding: 11px 0px;
    text-align: center;
  }
  .modal-content-bet {
    width: 100%;
    top: 4rem;
  }
}
/* @media (max-width: 376px) {
  .add-section img {
    height: 50px;
    width: 50px;
  }
  .plus-section img {
    margin: 0%;
  }
  .plus-section h1 {
    font-size: 10px;
  }
  .cross-first,
  .cross-second {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -65px;
    left: -12px;
    cursor: pointer;
  }
} */
