/* .modal-overlay-bet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-bet {
  background-color: #212226;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 850px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.history-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  padding: 8px 16px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.close-btn:hover {
  background: #e63939;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-wrapper {
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #212226;
  margin-top: 1rem;
}

thead {
  background-color: #f8f9fa;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

th {
  font-weight: 600;
  color: #333;
}

.load-more-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff7b00, #ff5500);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more-btn:hover {
  background: linear-gradient(45deg, #ff5500, #ff7b00);
  transform: scale(1.05);
}

.load-more-btn:disabled {
  background: #555;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
} */
