/* GameInfo.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--hg-modal-backdrop-bg-rgb);
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-modal:hover {
  background-color: #c9302c;
}

.game-info-line h3 {
  font-size: 20px;
  color: var(--hg-text-primary);
  margin-bottom: 10px;
  text-align: center;
}

.divider {
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.about-game {
  margin-bottom: 20px;
}

.about-game h1 {
  font-size: 18px;
  color: var(--hg-bg-accent);
  margin-bottom: 10px;
}

.about-game h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

.about-game p {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.info-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
 
}

.GameInfo__edition {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.GameInfo__edition p {
  margin: 5px 0;
}
