.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--hg-modal-backdrop-bg-rgb);
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.multi-img {
  display: flex;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.close-modal:hover {
  color: green;
}

.fixed-header {
  position: fixed; /* Fix the element in place */
  top: 0; /* Position it at the top of the viewport */
  position: fixed;
  top: 0;
  background-color: black;
  text-align: center;
  margin-top: 1rem;
}

.responsive-divider {
  height: 2px;
  border: none;
  background-color: gray;
  width: 100%;
  margin: 0 auto;
}
.info-line {
  /* left: auto; */
  width: 51%;
}
.game-info-line h3 {
  font-size: 20px;
  color: var(--hg-text-primary);
  margin-bottom: 10px;
  text-align: center;
}

.about-game {
  margin-bottom: 20px;
  margin-top: 1rem;
}

.about-game h1 {
  font-size: 18px;
  font-weight: 700;
  color: var(--hg-bg-accent);
  margin-bottom: 10px;
}

.about-game h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.about-game p {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.info-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.GameInfo__edition {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.GameInfo__edition p {
  margin: 5px 0;
}
.modal-home {
  background: #333;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-text {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.btn-text {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background 0.2s ease;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-confirm {
  background-color: #4caf50;
  color: white;
}

.btn-confirm:hover {
  background-color: #45a049;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-cancel:hover {
  background-color: #d32f2f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.win-amount-section {
  font-weight: 700;
  display: block;
  position: fixed;
  left: 60%;
  top: 7%;
  width: 250px;
  height: 45px;
  max-height: 45px;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  /* background: url("../../assests/misc-4.png") no-repeat; */
  background-color: #4ace4a;
  background-size: cover;
  border-radius: 0.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: growIn 0.5s ease forwards, growOut 0.5s ease 3.5s forwards;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
@keyframes growIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes growOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
}
@media (max-width: 1024px) {
  .responsive-divider {
    width: 58%;
  }
}

@media (max-width: 768px) and(min-width: 377px) {
  .responsive-divider {
    width: 100%;
  }
  .info-line {
    width: 90%;
    left: 10px;
  }
  .win-amount-section {
    top: 5%;
    left: 50%;
    width: 250px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .responsive-divider {
    width: 100%;
  }
  .info-line {
    width: 70%;
    left: 50px;
  }
  .win-amount-section {
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
}

/* / Scrollbar Styling / */
.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #00ff00;
}

/* / For Firefox / */
.modal-content {
  scrollbar-width: thin;
  scrollbar-color: green #1a1a1a;
  margin-top: 2rem;
}
.blance-text {
  font-size: 10px;
  color: #e9ecef;
  text-align: center;
}
.ammount-text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-top: 6px;
}
@media (max-width: 376px) {
  .lines-container {
    height: 19%;
  }
  .multi-img img {
    height: 45px;
  }
  .xvalue {
    font-size: 22px;
  }
  .value-display {
    margin: 0;
  }
  /* .plus-section img {
    height: 60px;
    margin-top: 0.1rem;
  } */
  .current-value-progress {
    margin: 5px 0;
  }
  .ammount-text {
    font-size: 10px;
    margin-top: 2px;
  }
  .current-value-progress {
    margin: 0%;
  }
  .show-bet-graph-container {
    padding: 0px;
  }
  .multi-img img {
    height: 35px;
  }
  .slider-scale {
    margin: 0.2rem 6px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }
  .value-sticky {
    font-size: 8px;
  }

  .lines-section {
    margin-top: 2px;
  }
}
